doctype html
html(lang="en")
    head
        title= componentName
        link(rel="stylesheet" href=ludo_styles)
        link(rel="stylesheet" href=component_styles)
        if mode=='design'
            script(src="ludo_assets/socket.io.js")
            script(src=reload_script)
    body(class="mode-#{mode}")
        each page in pages
            .page
                .vertical-mark
                each component, index in page.components
                    .component(class="component-#{index}")
                        - with(component){
                        include _component.jade
                        - }